In [1]:
import numpy as np
import pandas as pd

In [2]:
sub_1 = pd.read_csv('./submissions/submission_convnext_512.csv')
sub_2 = pd.read_csv('./submissions/submission_convnext_with_sd.csv')
sub_3 = pd.read_csv('./submissions/submission_convnext_with_box.csv')
sub_4 = pd.read_csv('./submissions/submission_swin.csv')
sub_5 = pd.read_csv('./submissions/submission_swin_with_sd.csv')
# sub_6 = pd.read_csv('./submissions/submission_swin_with_box.csv')
# sub_7 = pd.read_csv('./submissions/submission_seresnet.csv')
# sub_8 = pd.read_csv('./submissions/submission_seresnet_with_sd.csv')

In [3]:
sub_1.head()

          id        X4        X11       X18       X50       X26        X3112
0  201238668  0.517404   7.266294  3.001681  1.726251  1.562229   471.884624
1  202310319  0.545889  16.717021  0.422217  1.222363  0.175513   794.979968
2  202604412  0.618726  15.505129  2.106491  1.332111  8.648777   696.567810
3  201353439  0.521807  20.979442  0.293652  1.167396  1.472599  1886.882666
4  195351745  0.480565  10.645594  0.109779  1.732458  0.512781   119.194252

In [4]:
sub_2.head()

          id        X4        X11       X18       X50       X26        X3112
0  201238668  0.573842   6.740852  2.193655  1.891290  0.796666   507.751945
1  202310319  0.551993  15.950540  0.412217  1.202255  0.145133   878.334921
2  202604412  0.634466  17.231344  2.277311  1.166581  4.300880   673.560153
3  201353439  0.549874  22.689015  0.253308  1.063471  2.309494  1770.344724
4  195351745  0.505732  12.551690  0.105137  1.658405  0.400748   116.763942

In [5]:
sub_3.head()

          id        X4        X11       X18       X50       X26        X3112
0  201238668  0.561762   8.713326  1.214809  1.619202  1.252392   258.760448
1  202310319  0.556848  17.165997  0.426573  1.152232  0.143337   879.384192
2  202604412  0.626645  13.927948  1.607556  1.350781  7.246174   376.670793
3  201353439  0.515847  20.086560  0.235204  1.056056  1.638025  1712.708928
4  195351745  0.456766  13.091640  0.191370  1.415098  0.561155   260.850891

In [6]:
sub_4.head()

          id        X4        X11       X18       X50        X26        X3112
0  201238668  0.624119   8.665418  1.509857  1.865228   3.109482   297.298175
1  202310319  0.399202  20.221238  0.370147  1.157226   0.449538   621.279175
2  202604412  0.681828   8.475605  2.349462  2.063518  18.066993   223.592298
3  201353439  0.502319  26.397087  0.216632  0.878398   0.666249  1046.501077
4  195351745  0.475403  15.069086  0.206388  1.374217   0.635165   266.535556

In [7]:
sub_5.head()

          id        X4        X11       X18       X50        X26        X3112
0  201238668  0.601134   8.235805  1.363930  1.646113   0.695889   165.269870
1  202310319  0.423352  19.776700  0.331293  1.149481   0.200093   744.232011
2  202604412  0.711158   7.659737  2.209927  2.523614  21.117102   132.006009
3  201353439  0.549057  22.681128  0.308525  0.889344   1.776022  1900.598006
4  195351745  0.472471  12.713201  0.296089  1.383192   0.630437   389.689338

In [76]:
# avg_ = np.asarray([sub_1.iloc[:, 1:],
#                    sub_2.iloc[:, 1:],
#                    sub_3.iloc[:, 1:],
#                    sub_4.iloc[:, 1:],
#                    sub_5.iloc[:, 1:],
#                    # sub_6.iloc[:, 1:],
#                    # sub_7.iloc[:, 1:],
#                    # sub_8.iloc[:, 1:],
#                    ]).mean(axis=0)
# 
# avg_

array([[5.81368982e-01, 8.56001940e+00, 1.35410272e+00, 1.66856407e+00,
        1.48694815e+00, 2.51725269e+02],
       [4.95936010e-01, 1.81219803e+01, 3.64778784e-01, 1.14317705e+00,
        2.00824781e-01, 8.07859947e+02],
       [6.61557192e-01, 1.21932575e+01, 1.99095150e+00, 1.72822055e+00,
        1.19490610e+01, 4.02867779e+02],
       ...,
       [4.49554226e-01, 2.35913526e+01, 1.28094838e+00, 1.32480173e+00,
        1.23581265e+01, 4.68065534e+03],
       [4.46140050e-01, 1.63011743e+01, 3.58598100e-01, 1.45277173e+00,
        3.62891078e-01, 3.37662176e+02],
       [6.07494640e-01, 1.40285829e+01, 1.17640938e+01, 1.40208123e+00,
        2.79881117e+02, 4.46703043e+03]])

In [8]:
blend = (0.32 * sub_1.iloc[:, 1:] +
         0.34 * sub_2.iloc[:, 1:] +
         0.1 * sub_3.iloc[:, 1:] +
         0.13 * sub_4.iloc[:, 1:] +
         0.11 * sub_5.iloc[:, 1:])

blend

            X4        X11        X18       X50         X26        X3112
0     0.564112   7.520880   2.174175  1.780911    1.376799   406.343234
1     0.516512  17.293428   0.402482  1.192028    0.200293   803.597696
2     0.643240  14.157493   2.157641  1.503846    9.626116   533.166890
3     0.531218  22.362888   0.265713  1.052772    1.702237  1722.101473
4     0.485181  12.340762   0.149413  1.590553    0.508379   181.442440
...        ...        ...        ...       ...         ...          ...
6540  0.541632  10.933428   1.028773  1.650994    2.775025   407.908192
6541  0.496620  21.249080   3.581467  1.047494    3.008990  5518.332634
6542  0.453944  25.908074   0.946393  1.396830   11.503567  4163.729237
6543  0.441175  17.866027   0.421920  1.411063    0.394012   553.989070
6544  0.616761  13.446977  10.812054  1.477825  330.325666  3989.742310

[6545 rows x 6 columns]

In [9]:
sub_1.iloc[:, 1:] = blend#avg_

In [10]:
sub_1.to_csv('./submissions/ens_submission_4.csv', index=False)