In [1]:
import numpy as np
import pandas as pd

In [3]:
sub_1 = pd.read_csv('./learn/submission_convnext.csv')
sub_2 = pd.read_csv('./learn/submission_seresnet.csv')
sub_3 = pd.read_csv('./learn/submission_swin.csv')
sub_4 = pd.read_csv('./learn/submission_convnext_with_sd.csv')
sub_5 = pd.read_csv('./learn/submission_seresnet_with_sd.csv')
sub_6 = pd.read_csv('./learn/submission_swin_with_sd.csv')

In [4]:
sub_1.head()

          id        X4        X11       X18       X50       X26       X3112
0  201238668  0.548943   9.374317  1.204991  1.504087  1.805247   289.25864
1  202310319  0.568395  16.079735  0.328172  1.027176  0.018574   999.93040
2  202604412  0.608680  17.688717  1.563019  1.214991  5.383033   892.94165
3  201353439  0.460955  20.543142  0.263806  1.146570  0.911203  2061.40400
4  195351745  0.474894  12.786066  0.199458  1.542448  0.648393   192.78943

In [5]:
sub_2.head()

          id        X4        X11       X18       X50        X26        X3112
0  201238668  0.600732   8.253669  2.274210  1.668797   3.594363   340.358733
1  202310319  0.467475  19.269520  0.334454  1.177178   0.275493   652.751326
2  202604412  0.589942  12.230312  2.028695  1.521835  10.261478   448.521524
3  201353439  0.547608  26.960489  0.328770  0.866243   1.984041  2155.471410
4  195351745  0.473007  14.059853  0.206454  1.440998   0.939884   454.502431

In [6]:
sub_3.head()

          id        X4        X11       X18       X50        X26        X3112
0  201238668  0.624119   8.665418  1.509857  1.865228   3.109482   297.298175
1  202310319  0.399202  20.221238  0.370147  1.157226   0.449538   621.279175
2  202604412  0.681828   8.475605  2.349462  2.063518  18.066993   223.592298
3  201353439  0.502319  26.397087  0.216632  0.878398   0.666249  1046.501077
4  195351745  0.475403  15.069086  0.206388  1.374217   0.635165   266.535556

In [7]:
sub_4.head()

          id        X4        X11       X18       X50       X26        X3112
0  201238668  0.570887   7.811230  1.476926  1.708191  0.571730   248.039212
1  202310319  0.531884  17.366231  0.367708  1.229769  0.192582   794.473956
2  202604412  0.679476  13.214280  2.224793  1.488199  7.932003   389.128145
3  201353439  0.484935  20.263886  0.233032  1.164499  1.907275  2002.672950
4  195351745  0.506883  10.448855  0.137308  1.660511  0.437967    79.488771

In [8]:
sub_5.head()

          id        X4        X11       X18       X50       X26        X3112
0  201238668  0.529521   6.861178  1.713334  1.555535  1.470225   179.301165
1  202310319  0.501647  16.240434  0.402055  1.216035  0.144476   754.825513
2  202604412  0.560654  10.981959  2.711443  1.619443  9.213506   369.991863
3  201353439  0.531585  18.692412  0.513002  1.267784  3.363382  1833.272050
4  195351745  0.455964  15.664613  0.169568  1.339082  0.482541   197.480360

In [9]:
sub_6.head()

          id        X4        X11       X18       X50        X26        X3112
0  201238668  0.601134   8.235805  1.363930  1.646113   0.695889   165.269870
1  202310319  0.423352  19.776700  0.331293  1.149481   0.200093   744.232011
2  202604412  0.711158   7.659737  2.209927  2.523614  21.117102   132.006009
3  201353439  0.549057  22.681128  0.308525  0.889344   1.776022  1900.598006
4  195351745  0.472471  12.713201  0.296089  1.383192   0.630437   389.689338

In [10]:
avg_ = np.asarray([sub_1.iloc[:, 1:],
                   sub_2.iloc[:, 1:],
                   sub_3.iloc[:, 1:],
                   sub_4.iloc[:, 1:],
                   sub_5.iloc[:, 1:],
                   sub_6.iloc[:, 1:],
                   ]).mean(axis=0)

In [11]:
avg_

array([[5.79222735e-01, 8.20026961e+00, 1.59054149e+00, 1.65799170e+00,
        1.87448931e+00, 2.53254299e+02],
       [4.81992365e-01, 1.81589764e+01, 3.55638265e-01, 1.15947790e+00,
        2.13459371e-01, 7.61248730e+02],
       [6.38622755e-01, 1.17084351e+01, 2.18122326e+00, 1.73860014e+00,
        1.19956858e+01, 4.09363582e+02],
       ...,
       [4.44814500e-01, 2.44357208e+01, 1.09329772e+00, 1.25902773e+00,
        1.17232535e+01, 4.92094049e+03],
       [4.50567305e-01, 1.62038938e+01, 3.31006767e-01, 1.48240048e+00,
        3.41172429e-01, 3.04944222e+02],
       [6.32830410e-01, 1.39052474e+01, 1.15584243e+01, 1.36855354e+00,
        2.90004939e+02, 3.83258450e+03]])

In [12]:
sub_1.iloc[:, 1:] = avg_

In [13]:
sub_1.to_csv('./ens_submission_2.csv', index=False)